body {
    background-color: #fff;
    margin: 0;
    padding: 1.3rem;
    scroll-behavior: smooth;
}
#total {
    max-width: 80%;
    margin: 0 auto;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.3rem 0.4rem #333;
    padding: 1.3rem;
}

h1 {
    text-align: center;
    color: #000;
}

