body {
    background-color: #fff;
    margin: 0;
    padding: 1.3rem;
    scroll-behavior: smooth;

    font-family: Arial, sans-serif;
  text-align: center;
}
* {
    font-family: "Figtree", serif;
    scrollbar-width: thin;
    scrollbar-color: #17a2b8 #ffff;
}
::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 1.5rem;
}
::-webkit-scrollbar-thumb {
    background-color: #17a2b8;
    border-radius: 1.5rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #117a8c;
}
#total {
    max-width: 90%;
    margin: 0 auto;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.1rem #baa9a9;
    padding: 0.1rem;
    border: 2px solid #baa9a9; 
}


h1 {
    text-align: center;
    color: #000;
}
#inter-todoinput {
    padding: 0.5rem 1rem;
    border: 0.06rem solid #fff;
    border-radius: 0.3rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 1rem 0;
    
}
#input-boxs {
    display: flex;
    align-items: center;
   
}
#input-boxs-cont {
    display: flex;
    align-items: center;
}
 #input-boxs-text{
    padding: 0.831rem;
    display: flex;
    align-items: center;
    border-radius: 0.3rem 0rem 0rem 0.3rem;
    background-color: #17a2b8;
    color: white;
   
 }
#inter-todoinput input {
     width: 100%; 
    padding: 0.7rem;
    border: 0.2rem solid #ddd;
    border-radius: 0rem 0.6rem 0.6rem 0rem;
    outline: none;
    
}
#inter-todoinput button {
    margin-top: 0.6rem;
    background-color: #17a2b8;
    color: white;
    border: none;
    padding: 0.6rem 1.3rem;
    border-radius: 0.3rem;
    cursor: pointer;}
#inter-todoinput button:hover {
    background-color: #117a8c;
}










/* Main Section */
.todo-section {
  padding: 30px 20px;
}

/* Title */
.todo-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Filter Buttons (All / Done / Todo) */
.filter-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* ثلاث أعمدة متساوية */
  gap: 15px;
  margin-bottom: 25px;
}

.btn {
  width: 100%; /* كل زر يأخذ كامل عرض العمود الخاص به */
  padding: 15px 0;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #0099b8;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #007a92;
}

.btn-all {
  background-color: #005d6e;
}

/* No Tasks Message */
.no-tasks {
  color: #555;
  font-size: 18px;
  margin-bottom: 30px;
}